.hoveringColor {
    background-color: transparent; /* Initial background color */
    transition: background-color 1s ease; /* Transition for background color */
}

.hoveringColor:hover {
    background-color: orange; /* Change background color on hover */
    transition: none; /* Transition for background color */

}

.prompt
{
    display:flex;
    justify-content: center;
}

.prompt button
{
    height: 32px;
    margin:12px;
    font-size:16px;
}

.gridContainer
{
    display:flex;
    justify-content:center;
}